body, html{
	width: 100%;
	height: 100%;
	min-width: 320px;
}

body {
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.42;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	 background: #EEF7FF;
}

* {
	-webkit-box-sizing: border-box;
	 box-sizing: border-box;
}

li {
	list-style: none;	
}

ul {
	padding: 0;
	margin: 0;
}

.maincontent {
	margin-right: 15px;
	margin-left: 15px;
}
