.header {
  margin-bottom: 60px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding-top: 15px;

    .search__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;   
      width: 350px;
    }
    .search__input {
      flex: 1 0 auto;  
            
      border: 2px solid #C4C5C7; 
      border-radius: 5px;
      padding-left: 15px;
      padding-right: 52px;
      min-height: 40px;
      min-width: 225px;
      font-size: 13px;
      
      -webkit-transition: -webkit-box-shadow 0.5s;
      
      transition: -webkit-box-shadow 0.5s;
      
      -o-transition: box-shadow 0.5s;
      
      transition: box-shadow 0.5s;
      
      transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
      outline: none; /* Убираем свечение в Chrome и Safari */
      -webkit-appearance: none;

        &:hover  {
          -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
                  box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
        }

        &:focus  {
          -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
                  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
        }
    }
  
    .search__btn {
      min-width: 50px; 
      min-height: 40px;
      padding: 0;
      margin-left: -50px;
      border: none; 
      background: url(/img/Search-icon.png) no-repeat 50% 50%;
         
      text-decoration: none;
      font-size: 10px;
      cursor: pointer;
      border: 2px solid #C4C5C7; 
      border-radius: 0 5px 5px 0;
      
        &:active { 
          -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2), inset 0 2px 4px rgba(0,0,0,0.4); 
                  box-shadow: inset 0 0 10px rgba(0,0,0,0.2), inset 0 2px 4px rgba(0,0,0,0.4);
          outline: none;
        }

        &:focus {
          outline: none;
        }

        &:-moz-focus-inner {
          border: 0;
        }
    }
}   