@mixin screen760 {
	@media screen and (max-width: 760px)
		{
			@content;
		}
}
@mixin screen480 {
	@media screen and (max-width: 480px)
		{
			@content;
		}
}


.list {
	display: none;
	font-size: 16px;
	text-align: left;
	vertical-align: middle;
	
	@include screen480 {
		font-size: 1rem;
	}
		.list__item:nth-child(even) {
			background: #CCDFF0;
		}
}

.list__head {

	margin-left: 150px;
	margin-right: 35px;
	padding: 0 10px 8px 10px;
	
	@include screen760 {
		margin-left: 120px;
	}
	
	@include screen480 {
		margin-left: 110px;
	}		
	.head_center {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-derection: row;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;

		.head__artist, .head__track, .head__collection, .head__genre {
			width: 25%;
			padding: 0 10px 0 10px;

		@include screen480 {
				display:none;
			}
		}
		.head__artist, .head__track, .head__collection {
		
		@include screen760 {
				width:33%;
				padding: 5px;			
		}
		}
		
		.head__genre {
		
		@include screen760 {
			display:none;
		}
		}	
	}
}
		
.list__item {}
.item__cover {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row;
	        flex-flow: row; 
	-webkit-box-align: center; 
	    -ms-flex-align: center; 
	        align-items: center;
	padding: 15px;
	
	.item__imgcollection {
		min-width: 150px; 
		
		@include screen760 {
			min-width: 120px;
		}
		@include screen480 {
			min-width: 110px;
		}
		
		.img-preloder {
			display: block; 
			max-width: 100px;
			max-height: 100px
		}
		
		.imgcoll {
			display: none; 
			border : 3px solid #01127C;
			max-width: 102px;
			max-height: 102px;
		}
	}

	.item_center {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row;
		        flex-flow: row; 
		-webkit-box-align: center; 
		    -ms-flex-align: center; 
		        align-items: center;
		-webkit-box-flex: 1;
		    -ms-flex: auto;
		        flex: auto;

		@include screen480 {
				
				flex-direction: column;
				align-items: flex-start;
			}

		.item__artist, .item__track, .item__collection, .item__genre {
			width: 25%;
			padding: 10px;
		}

		.item__artist {
			
			@include screen760 {
				width:33%;
				padding: 5px;			
			}
			
			@include screen480 {
				display:none;
			}
		}
		.item__track {

			@include screen760 {
				width:33%;
				padding: 5px;			
			}
		
			@include screen480 {
				width:100%;
				padding-bottom: 0px;
				&:before {
					content:"Track: ";
					font-weight:700;
				}
				
			}
		}
		.item__collection{
			
			@include screen760 {
				width:33%;
				padding: 5px;			
			}

			@include screen480  {
				width:100%;
				padding-bottom: 0px;
				&:before {
					content:"Collection: ";
					font-weight:700;
				}
				
			}
		}
		.item__genre {
		
			@include screen760 {
				display:none;
			}
		}	
	}
	
	.item__open {
		width: 35px;
				
		.img_open {
			cursor: pointer;
			max-width: 31px;
			max-height: 31px;				
		}	
	}
}

.player {
	
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	width:auto;
	padding:0 15px 10px 15px;
	height:2rem;

	.player__btn {
		box-sizing:border-box;
		width:1.5rem;
		min-width:1.5rem;
		border-radius: 0.5rem 0 0 0.5rem;
		border-right: none;
		border-left:1.5rem solid #000;
		border-top: 1rem solid transparent;
		border-bottom: 1rem solid transparent;
		cursor:pointer;

	}

	.player__btn_active {
		width:1.5rem;
		min-width:1.5rem;
		height:1.5rem;
		border-right: 0.5rem solid #000;
		border-left:0.5rem solid #000;
		border-top: none;
		border-bottom: none;
		border-radius: 2px 2px 2px 2px;
	}

	.player__progres {
		box-shadow: inset 0 0 0.5rem rgba(255,255,255,0.8), inset 0 1px 0.2rem rgba(0,0,0,1);	
		height:10px;
		border-radius: 0.2rem;
		margin: 0 15px 0 15px;
		flex: 2 2 auto;
	}

	.indicator {
		background: linear-gradient(to top, rgba(30,87,153,0), rgba(30,87,153,0.8), rgba(30,87,153,1),
                      rgba(30,87,153,1), rgba(41,137,216,1), rgba(30,87,153,1), rgba(30,87,153,1),
                      rgba(30,87,153,0.8),rgba(30,87,153,0));
		width:0;
		height:100%;
	}
}


.item__information {
	display: none;
	margin-left: 150px;
	margin-right: 50px;
	padding: 0 10px 20px 10px;

	@include screen760 {
		margin-left: 0px;
		margin-right: 0px;
	}
	.information__head	{
		text-align: left;
		font-size: 2rem;
		font-weight: 700;
		color:#4F464C;
		padding: 0 10px 0 10px;

		@include screen760 {
			font-size: 1.5rem;
		}

		&:after {
			margin-left: 5px;
			display: inline-block;
			content: " ";
			height: 26px;
			width: 100px;
			background: url(/img/note.png) no-repeat 0px 50%;
			background-size: contain;

		@include screen760 {
			height: 1.5rem;
		}

		}
	}

	.information__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient:horizontal;
		-webkit-box-direction:normal;
		    -ms-flex-flow:row nowrap;
		        flex-flow:row nowrap;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		font-size: 13px;

		.information__collection {
			width: 50%;
			padding: 10px;
			
			.collection__item {

				.collection__lable {
					font-weight: 700;
					line-height: 22px;
				}
			}
		}

		.information__track {
			width: 50%;
			padding: 10px;
			
			.track__item {
				.track__lable {
					font-weight: 700;
					line-height: 22px;
				}
			}
		}
	}
}

.message {
	display: none;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color:#4F464C;
	padding: 10px;
}
